/* * {
   box-sizing: border-box;
} */

body {
    background-color: rgb(37, 34, 34);
    font-family: sans-serif;
}

h2{
    visibility: hidden;
    width: 0px;
    height: 0px;;
}

h3{
    color: white;
    font-size:small;
    background-color:rgb(37, 34, 34);
    margin: 3px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(37, 34, 34);
    padding: 20px;
}

.topnav a {
    float:left;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
    padding: 14px 16px;
}

form {
    background-color: rgb(49, 46, 46);
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color:lightgrey;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
}

section {
    margin: auto;
}

.thumbnail{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 1px;
    background-color: rgb(37, 34, 34);
}

.column{
    float: left;
    width: 15%;
    height: 250px;
    margin: 5px;
    background-color: rgb(37, 34, 34);


}

.row{
    float: center;
    height: 10%;
    margin: 1px;
    background-color: rgb(37, 34, 34);
    
}

.card{
    border-radius: 20px;
    height: 75%;
    width: 100%;
    text-align: center;
    background-color:  rgb(37, 34, 34);
}

/* .card:hover h2{
    visibility: visible;
    color: white;
    font-size: 10pt;
    width: 200px;
    height: 200px;
    vertical-align: top;
} */

.thumbnail:hover{
    cursor: pointer;
}